[s3-test]
test-fs: s3://<bucket>/<path>
backend-login: <AWS access key>
backend-password: <AWS access secret>

[jenkins-home]
storage-url: s3://<bucket/jenkins
backend-login: <AWS access key>
backend-password: <AWS access secret>
